* {
    padding: 0;
    margin: 0;
}

.containner {
    background: gray;
    width: 100%;
    height: 100vh;
    display: block;
}

nav {
    background: greenyellow;
}

.content__form {
    background: white;
    height: 80vh;
}

.footer {
    background: red;
    height: 10vh;
    display: block;
}

.firstColmn {
    background: green;
    float: left;
}

.secondColmn {
    background: chocolate;
    float: right;
}

.firstColmn,
.secondColmn {
    width: 50%;
    height: 100%;
}