{{vm.title}}
<input type="text" name="search" id="edt_search" ng-model="searchText" style="color: black;">

<ul>
    <li ng-repeat="game in vm.games | orderBy:['-rate','title'] |filter:searchText"
    ng-class="{redEven:$even,greenOdd:$odd}">
        <a ng-href="#/game/{{game._id}}">{{game.title}}</a>
    </li>
</ul> 



<form name="vm.gameForm" ng-submit="vm.addGame()">
    To add a new Game Please Fill in all <br><br>
    <label for="edt-title">Game Title:
        <input type="text" id="edt-title" name="title" required ng-model="vm.newGameTitle" style="color:black">
    </label><br/>
    <label for="edt-price">Price:
        <input type="text" id="edt-price" name="price" required ng-model="vm.newGamePrice" style="color:black">
    </label><br/>
    <label for="edt-year">Year of Publication:
        <input type="text" id="edt-year" name="year" required ng-model="vm.newGameYear" style="color:black">
    </label><br/>
    <label for="edt-rate">Rating:
        <input type="text" id="edt-rate" name="rate" required ng-model="vm.newGameRating" style="color:black">
    </label><br/>
    <label for="edt-minPlayer">Minmum Number of Players:
        <input type="text" id="edt-minPlayer" name="minPlayers" ng-min=1 ng-max=10 required ng-model="vm.newGameMinPlayers" style="color:black">
    </label><br/>
    <span ng-show="vm.gameForm.minPlayers.$dirty && vm.gameForm.minPlayers.invalid && vm.gameForm.isSubmitted" style="color:black"> Invalid</span>
        <br/>
    <label for="edt-maxPlayer">Maxmum Number of Players:
        <input type="text" id="edt-maxPlayer" name="maxPlayers" required ng-model="vm.newGameMaxPlayers" style="color:black">
    </label><br/>
    <label for="edt-minAge">Minmum Recommanded Player Age:
        <input type="text" id="edt-minAge" name="minAge" required ng-model="vm.newGameMinAge" style="color:black">
    </label><br/>
    <label for="edt-designers">Designers name:
        <input type="text" id="edt-designers" name="designers" required ng-model="vm.newGameDesigner" style="color:black">
    </label><br/>
    
    <button type="submit" class="btn-success"> Add Game</button>
</form>

