<p>Information about game:</p> <h3>{{vm.game.title}}</h3>
<h4>Ratting: 
    <game-rating rating=vm.rating></game-rating>
</h4>

<p>
    Price: {{vm.game.price|currency}} <br/>
    Maximaum Players: {{vm.game.maxPlayers}} <br/>
    Maximaum Players: {{vm.game.minPlayers}} <br/>
    Maximaum Age: {{vm.game.minAge}} <br/>
    Publisher: {{vm.game.publisher.name}} <br/>
</p> 
<br/>

<br/>
<br/>
<br/>
<button ng-click="vm.deleteGame()" style="color: brown; ">Delte Game</button>
<br>
<br><br>
<form name="vm.replaceGameForm" ng-submit="vm.replaceGame()">
    <label for="edt-price">Price:
        <input type="text" id="edt-price" name="price" required ng-model="vm.replaceGamePrice" style="color:black">
    </label><br/>
    <label for="edt-minPlayer">Minmum Number of Players:
        <input type="text" id="edt-minPlayer" name="minPlayers" ng-min=1 ng-max=10 required ng-model="vm.replaceGameMinPlayers" style="color:black">
    </label><br/>
    <span ng-show="vm.gameForm.minPlayers.$dirty && vm.gameForm.minPlayers.invalid && vm.gameForm.isSubmitted" style="color:black"> Invalid</span>
        <br/>
    <label for="edt-maxPlayer">Maxmum Number of Players:
        <input type="text" id="edt-maxPlayer" name="maxPlayers" required ng-model="vm.replaceGameMaxPlayers" style="color:black">
    </label><br/>
    <label for="edt-minAge">Minmum Recommanded Player Age:
        <input type="text" id="edt-minAge" name="minAge" required ng-model="vm.replaceGameMinAge" style="color:black">
    </label><br/>

    <button type="submit" class="btn-success"> Replace Game</button>
</form>